<div class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#cmd_browse_id#">
  <div style="display:flex;flex-direction: row;justify-content: left;">
    <div>
      <legend>Explorateur</legend>
      <div align="left" style="height:350px;width:400px;overflow:auto; !important">
        <div class="cmd cmd-widget upnpSearch" data-type="action" data-subtype="other" data-cmd_id="#cmd_search_id#">
          <span>Recherche actuellement non implémenté</span>
          <!--<input class="search-input form-control"></input>-->
        </div>
        <div class="upnpBrowser"></div>
      </div>
    </div>
    <div style="width:100%;overflow:auto;">
      <legend>Détail</legend>
      <div class="upnpDetail" style="height:350px;width:400px;overflow:auto;" >
        <div class="title"></div>
        <div class="upnpThumbnail"></div>
        <div class="itemDetail">
          <span class="duration"></span>
          <span class="size"></span>
          <span class="resolution"></span>
        </div>
        <div class="otherDetail"></div>
      </div>
    </div>
  </div>
  <script>
    if('#search_disable#' == '1'){
      $('.cmd[data-cmd_id=#cmd_search_id#]').hide();
    }

    var to = false;
    $('.cmd[data-cmd_id=#cmd_search_id#] .search-input').keyup(function() {
      if(to) { clearTimeout(to); }
      to = setTimeout(function () {
        var searchString = $('.cmd[data-cmd_id=#cmd_search_id#] .search-input').val();
        $('.cmd[data-cmd_id=#cmd_browse_id#] .upnpBrowser').jstree("search",searchString);
      }, 250);
    });

    function customMenu(node)
    {
      var items = {
        Read : {
          label : 'Lire',
          action : function ()
          {
            //Todo a custom eqLogic Selector
            jeedom.eqLogic.getSelectModal({eqLogic : {type: 'upnp'}}, function(result){
              $.ajax({
                url: "plugins/upnp/core/ajax/upnp.AVTransport.ajax.php",
                data: {"action": "setAVTransportURI","eqLogicId" : result.id ,"uri" :node.data.uri, "metadata":node.data.metadata},
                dataType: "json",
                success: function (data) {
        					if (data.state != 'ok') {
        						$('#div_alert').showAlert({message: data.result, level: 'danger'});
        					}
        				},
                error: function (request, status, error) {
                  handleAjaxError(request, status, error);
                }
              });
            });
          }
        },
        AddAction : {
          label : 'Ajout raccourci à un lecteur',
          action : function ()
          {
            //Todo a custom eqLogic Selector
            jeedom.eqLogic.getSelectModal({eqLogic : {type: 'upnp'}}, function(result){
              bootbox.prompt("{{Nom de la commande}}", function (cmdName) {
                $.ajax({
                  url: "plugins/upnp/core/ajax/upnp.AVTransport.ajax.php",
                  data: {"action": "createAction","upnpAction": "SetAVTransportURI","cmdName": cmdName,"eqLogicId" : result.id ,"InstanceID":0,"CurrentURI" :node.data.uri, "CurrentURIMetaData":node.data.metadata},
                  dataType: "json",
                  success: function (data) {
                    if (data.state != 'ok') {
                      $('#div_alert').showAlert({message: data.result, level: 'danger'});
                    }
                  },
                  error: function (request, status, error) {
                    handleAjaxError(request, status, error);
                  }
                });
              });
            });
          }
        }
      }

      if (node.data.type !== 'item') {
          delete items.Read;
      }

      return items;
    }

    $('.cmd[data-cmd_id=#cmd_browse_id#] .upnpBrowser').jstree({
      core: {
        data:
        {
          url: "plugins/upnp/core/ajax/upnp.ContentDirectory.ajax.php",
          data: function(node)  {
            var id = "#";
            if (node != -1) id = node.id;
            return {"action": "getDirectChildren","cmdId" : #cmd_browse_id# ,"node_id" :id}
          },
          dataType: "json",
          /*success: function(data) {
            if (data.state != 'ok') {
              $('#div_alert').showAlert({message: data.result, level: 'danger'});
            }
          },*/
          error: function (request, status, error) {
            handleAjaxError(request, status, error);
          }
        }
      },
      plugins: ["search","contextmenu"],
      contextmenu : {
        items : customMenu
      },
      search:
      {
        case_insensitive: true,
        show_only_matches : true
      }
    });

    /*$('.cmd[data-cmd_uid=#cmd_browse_id#]').on("search.jstree", (nodes,str) => {
      console.log("serching for : " + str);
    });*/

    $('.cmd[data-cmd_id=#cmd_browse_id#] .upnpBrowser').on("select_node.jstree", (evt,data) => {
      var selectedItem = data.instance.get_node(data.selected[0]);
      $.ajax({
        url: "plugins/upnp/core/ajax/upnp.ContentDirectory.ajax.php",
        data: {"action": "getMetadata","cmdId" : #cmd_browse_id# ,"node_id" :selectedItem.id},
        dataType: "json",
        success: function(data) {
          if (data.state != 'ok') {
            $('#div_alert').showAlert({message: data.result, level: 'danger'});
          }
          else {
            selectedItem.data.metadata = data.result;
            selectedItem.data.uri = getLinkResourceFromXML(data.result);
            BrowserXMLToHtml#cmd_browse_id#(data.result);
          }
        },
        error: function (request, status, error) {
          handleAjaxError(request, status, error);
        }
      });
    });

    function BrowserXMLToHtml#cmd_browse_id# (xmlString)
    {
      var $xml;

      try {
        //console.log("xmlString : " + xmlString );
        $xml = $($.parseXML( xmlString ));
      } catch (e) {
        try {
          xmlString = $('<div/>').html(xmlString).text();
          //console.log("xmlString : " + xmlString );
          $xml = $($.parseXML( xmlString ));
        } catch (e) {
          $('.cmd[data-cmd_id=#cmd_browse_id#] .upnpDetail').hide();
          return;
        }
      }

      var title;
      var url;
      var thumbnail="";
      var duration;
      var size;
      var resolution;
      var mexResolution

      var detailedObject = $xml.find("container");
      if (!detailedObject.length) detailedObject = $xml.find("item");

      title = detailedObject.find("dc\\:title").text();

      detailedObject.find("res").each( function() {
        if (!url) url = $(this).text();
        if ($(this).attr("protocolInfo").indexOf("image") !== -1)
        {
          if (!thumbnail) thumbnail = $(this).text();
          /*$.each(this.attributes, function(i,attr){

          });*/
        }
      });

      detailedObject.find("upnp\\:albumArtURI").each ( function() {
        thumbnail = $(this).text();
      });

      if (url) $('.cmd[data-cmd_id=#cmd_browse_id#] .upnpDetail .title').html("<a href="+url+">"+title+"</a>");
      else $('.cmd[data-cmd_id=#cmd_browse_id#] .upnpDetail .title').html(title);

      if (thumbnail) $('.cmd[data-cmd_id=#cmd_browse_id#] .upnpDetail .upnpThumbnail').html("<img style=\"max-width:100%\" src="+thumbnail+">");
      else $('.cmd[data-cmd_id=#cmd_browse_id#] .upnpDetail .upnpThumbnail').html("");

      var details="";

      detailedObject.children().each ( function () {
        var nodeName = this.nodeName;
        if (nodeName == "dc:title" || nodeName == "upnp:class" || nodeName == "upnp:albumArtURI" || nodeName == "upnp:storageUsed") return true;
        details += "<div>";
        if (this.attributes.length > 0)
        {
          var attributesHtml="";
          $.each(this.attributes, function(i,attrib){
            if (nodeName == "res" && attrib.name == "protocolInfo")
              attributesHtml += "<span style=\"display:none;\">"+attrib.name+" : "+attrib.value+"</span>";
            else
            {
              var attrText = attrib.value;
              if (attrib.name == "size") attrText = "" + (attrib.value / 1024 / 1024).toFixed(1) + " Mo";
              else if (attrib.name == "bitrate") attrText = "" + (attrib.value / 1000 / 8).toFixed(1) + " Ko/s";
              attributesHtml += "<span>"+attrib.name+" : "+attrText+"</span>";
            }
          });
          if (nodeName == "res")
            details += "<label>"+nodeName+" : </label><span> ("+attributesHtml+") <a href=\""+$(this).text()+"\">link</a></span>";
          else details += "<label>"+nodeName+" : </label><span> ("+attributesHtml+") "+$(this).text()+"</span>";
        }
        else details += "<label>"+nodeName+" : </label><span>"+$(this).text()+"</span>";
        details += "</div>";
      });

      $('.cmd[data-cmd_id=#cmd_browse_id#] .upnpDetail .otherDetail').html(details);
    }

    function getLinkResourceFromXML(xmlString)
    {
      var $xml;
      try {
        //console.log("xmlString : " + xmlString );
        $xml = $($.parseXML( xmlString ));
      } catch (e) {
        try {
          xmlString = $('<div/>').html(xmlString).text();
          //console.log("xmlString : " + xmlString );
          $xml = $($.parseXML( xmlString ));
        } catch (e) {
          return;
        }
      }
      return $xml.find("res:first").text();
    }
  </script>
</div>
